h1 {
  font-size: var(--rad-font-size-largest);
  font-weight: bold;
}

h2 {
  font-size: var(--rad-font-size-large);
  font-weight: bold;
}

h3 {
  font-size: var(--rad-font-size-medium);
  font-weight: bold;
}

h4 {
  font-size: var(--rad-font-size-small);
  font-weight: bold;
}

.rad_top {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--rad-gap-medium);
  padding: 1rem;
}

.rad_content {
  display: flex;
  flex-wrap: wrap;
  gap: var(--rad-gap-large);
  overflow-x: hidden;
}

.rad_main_content {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}

.rad_left_side, .rad_right_side {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--rad-gap-small);
  padding: var(--rad-padding-small);
}

.rad_center_content {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--rad-gap-small);
}

.rad_article_container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: var(--rad-gap-medium);
  padding: var(--rad-padding-small);
  flex-wrap: wrap;
  align-items: center;
  font-size: var(--rad-font-size-smallest);
  align-content: center;
}

.rad_footer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  font-size: var(--rad-font-size-tiny);
}

.rad_text_bold {
  font-weight: bold;
}

.rad_button {
  display: inline-block;
  padding: var(--rad-padding-small) var(--rad-padding-small);
  color: white;
  background-color: var(--rad-color-primary);
  border: none;
  border-radius: var(--rad-border-radius-smallest);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.rad_navi {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--rad-gap-medium);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.rad_bullet_list {
  li {
    padding: var(--rad-padding-small) 0 var(--rad-padding-small);
  }
}
/***************** For testing. ****************/
.rad_test_green {
  outline: #4CAF50 solid 1px;
}

.rad_test_red {
  outline: red solid 1px;
}

.rad_test_blue {
  outline: blue solid 1px;
}

.rad_test_purple {
  outline: purple solid 1px;
}

.rad_test_orange {
  outline: orange solid 1px;
}
/***********************************************/

